:root[saved-theme="dark"] {
  color-scheme: dark;
}
:root[saved-theme="light"] {
  color-scheme: light;
}
.darkmode .nightIcon {
  display: none;
}
:root[saved-theme="dark"] .darkmode .dayIcon {
  display: none;
}
:root[saved-theme="dark"] .darkmode .nightIcon {
  display: block;
}
